<nav class="sidebar sidebar-offcanvas fadeIn first" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <button class="btn btn-success btn-block">Alelo
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./dashboard" (click)="abrirPage('dashboard')" routerLinkActive="active">
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title">DashBoard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./vehicles" (click)="abrirPage('vehicles')"  routerLinkActive="active">
        <i class="menu-icon mdi mdi-car-hatchback"></i>
        <span class="menu-title">Vehicle</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./reports" (click)="abrirPage('reports')" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-pie"></i>
        <span class="menu-title">Reports</span>
      </a>
    </li>
  </ul>
</nav>
