<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row fadeIn first">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo">
      <img id="img-small-gt1" src="assets/images/alelo-logo.png" alt="logo" style="width: auto;" />
    </a>
    <a class="navbar-brand brand-logo-mini">
      <!-- <img id="img-small-gt2" src="assets/images/gtcontroller/gt.png" alt="logo" /> -->
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-right">
    </ul>
  </div>
</nav>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }">
</ngx-loading>