<!-- MODAL ADD-->
<div class="modal-header">
    <h4 class="modal-title" id="">Adicionar Veículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d.emit();">
        <span aria-hidden="false">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formAddEdit">
        <div class="row">
            
            <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <label>Model</label>
                <input class="form-control" formControlName="model">
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <label>Plate</label>
                <input class="form-control" formControlName="plate" type="text">
            </div>
            <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <label>Manufacturer</label>
                <input class="form-control" formControlName="manufacturer">
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <label>Color</label>
                <input class="form-control" formControlName="color">
            </div>
            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                <label>Ativo</label>
                <input type="checkbox" class="form-control" formControlName="status">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="d.emit();">Fechar</button>
    <button type="button" class="btn btn-success"
        (click)="(vehicles)?update():save()">{{(vehicles) ? 'Atualizar' : 'Salvar'}}</button>
</div>
<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }">
</ngx-loading>